/* 来自icomoon的字体图标库 */
@font-face {
    font-family: 'icomoon';
    src:  url('/src/font/icomoon.eot?ftv8e6');
    src:  url('/src/font/icomoon.eot?ftv8e6#iefix') format('embedded-opentype'),
      url('/src/font/icomoon.ttf?ftv8e6') format('truetype'),
      url('/src/font/icomoon.woff?ftv8e6') format('woff'),
      url('/src/font/icomoon.svg?ftv8e6#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

:root {
    --normal-color: #0074d9;
    --disabled-button-color: #aaa;

    --head-height: 3em;
}

p {
    text-indent: 2em;
}

body {
    padding-top: 3em;
}

ul {
    list-style: none;
}


table {
    --radius: .2em;
}

table button {
    font-size: .8em;
}

table thead {
    border-radius: var(--radius);
}

table th:first-child {
    border-top-left-radius: var(--radius);
}

table th:last-child {
    border-top-right-radius: var(--radius);
}



/* 一行显示的lits */
.row-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.row-list * {
    display: inline-block;
}



/* 隐藏滚动条 */
.no-scroll-bar {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
}
.no-scroll-bar::-webkit-scrollbar {
    display: none; /* Chrome Safari */
}
  

/* 粘性定位 */

.relative {
    position: relative;
}

.sticky-top {
    position: sticky;
    top: 0;
    box-shadow: 0 0 .4em #999;
}


.block-center {
    margin: 0 auto;
}


.scroll-y, .scroll-x {
    text-wrap: nowrap;
}

.scroll-y {
    height: 100%;
    overflow-y: scroll;
}

.scroll-x {
    max-width: 100%;
    overflow-x: scroll;
}


.link {
    color: steelblue;
    font-weight: 500;
}

.disabled {
    pointer-events: none;
}

.text-overflow-ellipsis,
.text-overflow-ellipsis * {
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

/* 布局 */
.space {
    max-width: 540px;
    margin: 0 auto;
    /* padding: 0 1em; */
}

.line {
    display: block;
}


.float-left {
    float: left;
}

.float-left::after,
.float-right::after {
    content: '';
    display: block;
    clear: both;
}

.float-right {
    float: right;
}

.text-align-left {
    text-align: left;
}

.text-align-right {
    text-align: right;
}

/* 返回顶部按钮 */
.back-top {
    margin: 0;
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: -6.5em;
    opacity: .6;
    font-size: 1.2em;
}

.back-top[data-style="show"] {
    margin-right: 0;
}



/* 一般情况样式 */

/* 按钮图标 */
button.icon-show {
    background-color: var(--normal-color);
    box-shadow: 0 0 0.4em #aaa;
}

button.icon-hidden {
    background-color: var(--disabled-button-color);
    box-shadow: inset 0 0 .4em #777;
}



/* 消息盒|确认窗口 */
#msg-box h1 {
    text-align: center;
    /* padding: 0 1em; */
}

#msg-box article {
    min-width: 10em;
}


#msg-box article footer {
    display: flex;
    justify-content: space-between;
}

#msg-box[data-style="message"] article footer .cancel {
    pointer-events: none;
    opacity: 0;
}

#msg-box[data-style="message"] article footer .success {
    background-color: #0074d9;
}

#msg-box[data-style="confirm"] article header .close,
#msg-box[data-style="wait"] article header .close,
#msg-box[data-style="wait"] article footer {
    /* pointer-events: none;
    opacity: 0; */
    display: none;
}

#msg-box[data-style="wait"] article header,
#msg-box[data-style="wait"] article header h3 {
    text-align: center;
    margin: 0;
}

#msg-box[data-style="wait"] article .content {
    padding: .8em 1em;
    text-align: center;
}

#msg-box[data-style="wait"] .overlay {
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
}


/* 导航栏 */
/* nav#page-nav {
    overflow: hidden;
} */

nav#page-nav.hidden {
    margin-top: -3em;
}

nav#page-nav .menu .this {
    background-color: #ededed;
    /* color: #000; */
}

nav#page-nav .menu * {
    display: inline-block;
}

nav#page-nav .menu .logo {
    display: none;
}

nav#page-nav .menu .search {
    width: 5em;
}

/* 移动端样式 */
@media (max-width: 60em) {
    nav#page-nav .menu .logo {
        display: block;
        text-align: center;
        font-weight: 800;
    }

    nav#page-nav .menu * {
        display: block;
    }

    nav#page-nav .menu .search {
        width: 100%;
    }
}

nav#page-nav .brand .avatar, .avatar {
    border-radius: 0.2em;
    width: 2em;
    height: 2em;
    margin-right: .4em;
}

/* 设置字体图标before样式/(TAG)字体图标/ */

[class*="icon-"]::before {
    font-family: 'icomoon';
    padding-top: 0.3em;
}
.icon-menu::before { content: '\e9bd';}
.icon-home::before {content: '\e900';}
.icon-order::before, .icon-plus::before {content: '\ea0a';}
.icon-player::before, .icon-play::before {content: '\ea15';}
.icon-user::before,.icon-login::before {content: '\e971';}
.icon-debug::before {content: '\e999';}
.icon-password::before {content: '\e98d';}
.icon-error::before {content: '\ea0f';color: red;}
.icon-info::before {content: '\ea0c';color: deepskyblue;}
.icon-warn::before {content: '\ea08';color: orange;}
.icon-spinner::before, .icon-refresh::before {content: '\e984';}
.icon-spinner::before {display: inline-block;padding: 0;transform-origin: 50% 47%;animation: rotation 1.2s ease-out infinite;}
.icon-notification::before {content: '\ea08'; color: orange;}
.icon-question::before {content: '\ea09'; color: orange;}
.icon-show::before {content: '\e9ce';}
.icon-hidden::before {content: '\e9d1';}
.icon-del::before {content: '\e9ac';}
.icon-admin::before, .icon-users::before {content: '\e972';}
.icon-search::before {content: '\e986';}
.icon-top::before {content: '\ea41';}


[class*="icon-"].no-margin::before {
    margin: 0;
}




/* 动画 */

/* 旋转动画 */
@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes blink {
    0% {
        filter: brightness(1);
    }
    50% {
        filter: brightness(1.2);
    }
}

@keyframes blink-dark {
    0% {
        filter: brightness(1);
    }
    50% {
        filter: brightness(.8);
    }
}

@keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}