.control {
    text-align: center;
    position: relative;
}


.search {
    display: flex;
    position: absolute;
    /* width: 100%; */
    top: 0em;
    left: 0;
    right: 0;
    align-items: center;
    min-width: 10em;
    max-width: 20em;
    margin: 1em auto;
    height: 2.1em;
    transition: top .2s;
    z-index: 2;
}

.control[data-style-preview="hidden"] .search {
    top: 3em;
}

.search input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;
    height: 100%;
}

.search button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    height: 100%;
}


.preview {
    display: inline-block;
    position: relative;
    padding: 0 2em;
    margin-bottom: 1em;
    margin-top: 4em;
    padding-bottom: .3em;
    transition: opacity .2s;
    z-index: 1;
    opacity: 0;
    border-radius: 1em;
    background-color: #f9f9f9;
    overflow: hidden;
}

.control[data-style-preview="show"] .preview {
    opacity: 1;
}

.preview h3 {
    color: #888;
}

.preview h3 span {
    color: #222;
}


.table-area {
    /* display: block; */
    padding-bottom: 3em;
    /* margin: 0 auto; */
}


.list {
    margin: 0 auto;
}

.list thead {
    position: sticky;
    top: 0;
}

.list tr .title, .list tr .singer, .list tr .play {
    padding-right: .8em;
    /* line-height: 1.2em; */
}

.list tr .title {
    min-width: 6em;
}

.list tr .singer {
    min-width: 8em;
}

.list tr .play {
    width: 4em;
}

.list .sticky-top {
    top: var(--head-height);
}

.search-info {
    text-align: right;
    /* padding-right: 1em; */
    margin: 0 1em;
    margin-top: 0.4em;
    color: gray;
    border-top: 2px solid #dedede;
}